<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider">
        <plugin name="cb_customadmin_set_sellerid_before_render_product_plugin"
                type="Cb\CustomAdmin\Plugin\AdminProductPlugin" />
    </type>
</config>