<?xml version="1.0"?>
<!--
/**
 * Cb Software.
 *
 * @category  Cb
 * @package   Cb_CustomAdminLogo
 * @author    Cb
 * @copyright Copyright (c) Cb Software Private Limited (https://www.codingbrains.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cb_CustomAdminLogo" />
</config>
